# See http://help.github.com/ignore-files/ for more about ignoring files.

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# compiled output
dist
tmp
out-tsc
files
target

# dependencies
/node_modules
node_modules
dist
.nuxt

# profiling files
chrome-profiler-events.json
speed-measure-plugin.json

# coverage reports
.coverage
coverage.xml

# IDEs and editors
/.idea
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml

# Editor directories and files
*.suo
*.ntvs*
*.njsproj
*.sln

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# environment variables
**/.env
.venv/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
testem.log
/typings
/target
*.lock

# System Files
.DS_Store
Thumbs.db

# e2e
/e2e/*.js
/e2e/*.map

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

*_files
.venv
**/*.ipynb
**/*.txt









